{% include 'base.html' %}

{% block content %}

<div class="container">
    
<h1>Welcome</h1>

    <p>Welcome to a demonstration of a basic data upload tool. </p>

    <p>This tool allows you to upload data in a range of formats, view the data, query the data, and download it in a range of formats, including JSON.</p>
    
    <p>Use the navigation links above to access the different features.</p>

    <p>To view the admin, login in with credentials: <br> username: <b>admin</b> <br> password: <b>data_upload_tool</b></p>

</div>

{% endblock %}
